<% layout('layouts/boilerplate')%>

<h1>All Builds</h1>
<div>
    <a href="/builds/new">Add Build</a>
</div>
<% for (let build of builds){%>
    <div class="card mb-3" >
        <div class="row">
            <div class="col-md-4">
                <%if(build.images.length) {%>
                <img class="img-fluid" alt="" src="<%=build.images[0].url%>">
                <% }else {%>
                <img class="img-fluid" alt=""
                    src="https://res.cloudinary.com/douqbebwk/image/upload/v1600103881/YelpCamp/lz8jjv2gyynjil7lswf4.png">
                <% } %>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><%= build.title %> </h5>
                    <p class="card-text"><%= build.description %></p>
                    <p class="card-text">
                        <small class="text-muted"><%= build.Race%></small>
                    </p>
                    <a class="btn btn-primary" href="/builds/<%=build._id%>">View <%=build.title%></a>
                </div>
            </div>
        </div>
    </div>
    <% }%>

